[program:datanode]
user={{ hdfs_user }}
command={{ hadoop_install_dir }}/{{ hadoop_version }}/bin/hdfs --config {{ hdfs_conf_dir }} datanode
stopsignal=KILL
autostart=false
autorestart=false
stdout_logfile={{ hdfs_log_dir }}/datanode.out.log
stderr_logfile={{ hdfs_log_dir }}/datanode.err.log
