[program:namenode]
user={{ hdfs_user }}
#directory={{ hadoop_install_dir }}
command={{ hadoop_install_dir }}/bin/hdfs --config {{ hdfs_conf_dir }} namenode
stopsignal=KILL
autostart=false
autorestart=false
stdout_logfile={{ hdfs_log_dir }}/namenode.out.log
stderr_logfile={{ hdfs_log_dir }}/namenode.err.log
